/*Reset rules*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container {
	max-width: 1024px;
	padding: 0 50px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0 5px;
}

.row > * {
	padding: 0 5px;
	width: 100%;
}

.col-12 {
	width: 100%;
}

/* layout */


/* header */
.heading-center{
  text-align: center;
}

/*Main*/


.card{
  border: 1px solid rgb(54, 54, 54);
}


.card-image{
  background-color: rgb(166, 166, 166);
  text-align: center;
}

.card-post{
  font-size: 2rem;
}



/* card */

/* footer */

.footer-center{
  text-align: center;
  background-color: rgb(3, 3, 3);
  color: whitesmoke;
  padding: 30px 50px;
  margin-top: 50px;
}

